#explanation-header{
  color: #515A5A;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: "Avenir";
  font-size: 24px;
}

#explanation1{
  color:#515A5A;
  font-family: "Avenir";
  font-size: 16px;
  margin-left: 0px;
  margin-top:10px;
}

#explanation2{
  color:#515A5A;
  font-family: "Avenir";
  font-size: 16px;
  margin-left: 0px;
  margin-top:10px;
}

#notice1{
  color:#99A3A4;
  font-family: "Avenir";
  font-size: 16px;
  margin-left: 0px;
  margin-top:20px;
}

#notice2{
  color:#99A3A4;
  font-family: "Avenir";
  font-size: 16px;
  margin-left: 0px;
  margin-top:10px;
}

#map {
    position: absolute;
    right: 0px;
    left: 340px;
    height: 100%;
    top: 0;
}

#sidebar {
    position: absolute;
    left: 0px;
    width: 300px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
}

#legend{
  position:fixed;
  left:1000px;
  top:470px;
  color:#515A5A;
  font-family: "Avenir";
  font-size: 12px;
  padding:-10px;
}

#legend1{
  position:fixed;
  left:1040px;
  top:526px;
  background: #E9F7EF;
  width:45px;
  height:15px;
  opacity: 0.4;
}

#legend2{
  position:fixed;
  left:1040px;
  top:552px;
  background: #A9DFBF;
  width:45px;
  height:15px;
  opacity: 0.4;
}

#legend3{
  position:fixed;
  left:1040px;
  top:580px;
  background: #52BE80;
  width:45px;
  height:15px;
  opacity: 0.4;
}

#legend4{
  position:fixed;
  left:1040px;
  top:606px;
  background: #1E8449;
  width:45px;
  height:15px;
  opacity: 0.4;
}

#legend5{
  position:fixed;
  left:1040px;
  top:633px;
  background: #145A32;
  width:45px;
  height:15px;
  opacity: 0.4;
}

#legend41{
  position:fixed;
  left:1040px;
  top:526px;
  background: #FDEDEC;
  width:45px;
  height:15px;
  opacity: 0.4;
}

#legend42{
  position:fixed;
  left:1040px;
  top:552px;
  background: #F5B7B1;
  width:45px;
  height:15px;
  opacity: 0.3;
}

#legend43{
  position:fixed;
  left:1040px;
  top:580px;
  background: #EC7063;
  width:45px;
  height:15px;
  opacity: 0.3;
}

#legend44{
  position:fixed;
  left:1040px;
  top:606px;
  background: #B03A2E;
  width:45px;
  height:15px;
  opacity: 0.3;
}

#legend45{
  position:fixed;
  left:1040px;
  top:633px;
  background: #78281F;
  width:45px;
  height:15px;
  opacity: 0.3;
}

#legend1-text{
  position:fixed;
  left:1100px;
  top:525px;
}

#legend2-text{
  position:fixed;
  left:1100px;
  top:552px;
}

#legend3-text{
  position:fixed;
  left:1100px;
  top:579px;
}

#legend4-text{
  position:fixed;
  left:1100px;
  top:606px;
}

#legend5-text{
  position:fixed;
  left:1100px;
  top:633px;
}

#legend02{
  position:absolute;
  left:400px;
  top:445px;
  color:#515A5A;
  font-family: "Avenir";
  font-size: 12px;
  padding:-10px;
}

.dot1{
  height: 9px;
  width: 9px;
  background-color:rgba(46,134,193,0.4);
  border-radius: 100%;
  opacity:40%;
  position:fixed;
  left:445px;
  top:485px;
}

.dot2{
  height: 20px;
  width: 20px;
  background-color:rgba(46,134,193,0.4);
  border-radius: 100%;
  opacity:40%;
  position:fixed;
  left:440px;
  top:502px;
}

.dot3{
  height:34px;
  width:34px;
  background-color:rgba(46,134,193,0.4);
  border-radius: 100%;
  opacity:40%;
  position:fixed;
  left:434px;
  top:530px;
}

.dot4{
  height: 45px;
  width: 45px;
  background-color:rgba(46,134,193,0.4);
  border-radius: 100%;
  opacity:40%;
  position:fixed;
  left:429px;
  top:572px;
}

.dot5{
  height: 60px;
  width: 60px;
  background-color:rgba(46,134,193,0.4);
  border-radius: 100%;
  opacity:40%;
  position:fixed;
  left:421px;
  top:625px;
}

.dot21{
  height: 9px;
  width: 9px;
  background-color:rgba(140,142,211,0.4);
  border-radius: 100%;
  opacity:40%;
  position:fixed;
  left:445px;
  top:485px;
}

.dot22{
  height: 20px;
  width: 20px;
  background-color:rgba(140,142,211,0.4);
  border-radius: 100%;
  opacity:40%;
  position:fixed;
  left:440px;
  top:502px;
}

.dot23{
  height:34px;
  width:34px;
  background-color:rgba(140,142,211,0.4);
  border-radius: 100%;
  opacity:40%;
  position:fixed;
  left:434px;
  top:530px;
}

.dot24{
  height: 45px;
  width: 45px;
  background-color:rgba(140,142,211,0.4);
  border-radius: 100%;
  opacity:40%;
  position:fixed;
  left:429px;
  top:572px;
}

.dot25{
  height: 60px;
  width: 60px;
  background-color:rgba(140,142,211,0.4);
  border-radius: 100%;
  opacity:40%;
  position:fixed;
  left:421px;
  top:625px;
}

#legend21-text{
  position:fixed;
  left:500px;
  top:482px;
}

#legend22-text{
  position:fixed;
  left:500px;
  top:504px;
}

#legend23-text{
  position:fixed;
  left:500px;
  top:540px;
}

#legend24-text{
  position:fixed;
  left:500px;
  top:585px;
}

#legend25-text{
  position:fixed;
  left:500px;
  top:645px;
}

#prev{
  color:#515A5A;
  position:sticky;
  left:0px;
  top:720px;
  font-family: "Avenir";
  font-size: 16px;
  border:none;
}

#next{
  color:#515A5A;
  position:sticky;
  left:280px;
  top:700px;
  font-family: "Avenir";
  font-size: 16px;
  border:none;
}

#pageNumber{
  color:#515A5A;
  position:sticky;
  left:135px;
  top:720px;
  font-family: "Avenir";
  font-size: 16px;
  border:none;
}
